$link-color: #2f3035;
$link-size: 20px;

.nav {
  max-width: 454px;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  display: flex;
  list-style: none;
}
.navlink {
  text-decoration: none;
  font-weight: bold;
  font-size: $link-size;
  color: $link-color;
}
